.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.tabs {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #808080;
}

th {
  text-transform: uppercase;
  color: #9999ff;
  font: normal 11px Verdana;
  padding: 15px;
}

td {
  color: #ffffff;
  font: normal 12px Verdana;
  padding: 15px;
}


